body{
    margin: 0;
    padding: 0;

}

div#container{
    min-width: max-content;
    margin:0px auto;
    background-color: white;
    padding: 0px;
}

header{
    height: 150px;
    width: 100%;
    padding:0px;
    background-color: rgb(31, 197, 216);
    position:fixed;
}
h1{
    text-align: center;
    
}
div#bt{
    width:40%;
    height: 70px;
    margin:0%;
    float: left;
    background-color: white;
}
div.bt1{
    width:25%;
    height:100%;
    
    float:left;
    background-color: white;
}

#main{
    min-height:max-content;
    background-color: white;
    margin-top: 0;
    padding-top: 150px;
    
    
}
#dis{
    height: 450px;
    width: 100%;
    background-color: white;
    
}
footer{
        height: 100px;
        width: 100%;
        background-color: rgb(105, 79, 146);
        bottom:0;
        left:0;
}

.bottom-left{
    position: absolute;
    bottom:-120px;
    left: 10px;
    width:200px;
    height:50px;
}
.bottom-right{
    position: absolute;
    bottom: -120px;
    right: 10px;
    width: 30%;
    height: 50px;
}
.social{
    width: 25%;
    height: 100%;
    position: relative;
    float: right;
    background-color: white;
}