.midbox{
    width:400px;
    height:350px;
    background-color:#7395AE;
    position:absolute;
    top:50%;
    left:50%;
    margin: auto;
    transform:translate(-50%,-50%);
}
table,th,td{
    background-color: #7395AE;
}