div#container{
min-width:max-content;
min-height: max-content;
margin: 10px auto;
background-color: white;

}

header{
background-color: #FC4445;
min-height: 60px;
color:black;
text-align: center;
}
h1{
    margin-block: 10px;
    padding-block: 10px;
}

#main{
background-color: #7395AE;
height: 450px;

overflow: hidden;

}

#menu{
max-width: 25%;
height: 450px;
float:left;
overflow-x: hidden;
overflow-y: auto;

}
div.options{
margin-left: 70px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 20px;
width:100%;
text-align:center;

}
h3{
background-color: #3FEEE6;
padding-block: 10px;
width: 50%;
text-align: center;
color:black;
}
#sidebar{
background-color: #3FEEE6;
min-width:max-content;
min-height: 450px;
margin-left: 25%;
}

footer{
background-color: #FC4445;
min-height: 40px;
color:aliceblue;
text-align: center;
}